body {
  background-color: #222831;
  color: #eeeeee;
}
.box {
  text-align: center;
}
.btn {
  margin: 2.5%;
}
.contactcontainer {
  background-color: #e3e3e3;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 1%;
  font-size: 20px;
  margin: 3%;
}
.contactbox {
  background-color: #393e46;
  margin: 2%;
}
.model {
  color: #1e2022;
}
